#nav{
    height:8vh;
    width:100vw;
    background-color: black;
    color:white;
    display: flex;
    border-bottom: 1px solid white;
}

#nav>ul{
    display: flex;
    align-items: center;
    gap:7vw;
}

#nav>ul>li{
    list-style: none;
}

#LogoNav>img{
    height:5vh;
}
#LogoNav{
    margin-left: 0.5vw;
}

#changePassword{
    cursor: pointer;    
}
#changePassword:hover{
    /* color:rgba(172, 255, 47, 0.749);     */
    color: rgba(30, 143, 255, 0.806);
}

#deleteAccount{
    cursor: pointer;
}
#deleteAccount:hover{
    color:rgba(243, 13, 13, 0.788);
}

#Logout{
    cursor: pointer;
}
#Logout:hover{
    color:rgba(254, 254, 4, 0.813);
}


@media (max-width:1260px){
    nav>ul{
        gap:3vw;
        font-size: 0.8em;
    }
}

@media (max-width:1000px){
    #nav>ul{
        gap:3vw;
        font-size: 0.9em;
    }
}

@media (max-width:843px){
    #nav>ul{
        gap:0.9vw;
        font-size: 0.9em;
    }
}

@media (max-width:670px){
    #nav>ul{
        gap:1vw;
        font-size: 0.7em;
    }
}

@media (max-width:590px){
    #nav>ul{
        gap:0.5vw;
        font-size: 0.7em;
    }
    #nav>ul>#Heading>h1{
        font-size: 1em;
    }
}