.SideCardContainer{
    background-color: black;
    color: white;
    height: 6vh;
    width: 85%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    font-size: 1.2em;
}

.SideCardContainer:hover{
    border:1px solid white;
}

.SideCardContainer>#NameOfTopic{
    width: 100%;
    text-align: center;
}

.highlightSide{
    border:1px solid gold;
}
.highlightSide:hover{
    border:1px solid gold;
}


@media (max-width:840px){
    .SideCardContainer{
        margin-top: 1vh;
        height: 10vh;
    }
}

@media (max-width:590px){
    .SideCardContainer>#NameOfTopic{
        font-size: 0.9em;
    }
    .SideCardContainer{
        margin-top: 2vh;
        height: 10vh;
    }
}